# Compiler files
cache/
out/
node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Ignore local chain deployment output files
!script/output/31337
script/output/31337/**

# Docs
docs/

# Dotenv file
.env
