name: Tests

concurrency:
  cancel-in-progress: true
  group: ${{github.workflow}}-${{github.ref}}

on:
  push:
    branches:
      - master
      - mainnet
      - testnet-goerli
      - dev
  pull_request:

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run tests
        shell: bash
        run: |
          forge test --no-match-contract FFI

        env:
          RPC_MAINNET: ${{ secrets.RPC_MAINNET }}
          CHAIN_ID: ${{ secrets.CHAIN_ID }}
        id: test
